:root {
  --header-footer-light-color: #AFDCEB;
  --body-light-color: #F0F8FF;
}

html,
body {
  padding: 0px;
  margin: 0px;
  font-style: 'Montserrat', 'Roboto', sans-serif;
}

.page-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
  "header"
  "content"
  "footer";
}

.header { 
  grid-area: header;
  margin: 0px;
  padding: 25px;
  background-color: var(--header-footer-light-color);
  text-align: center;
}

.main-content { 
  grid-area: content; 
  padding: 50px 200px;
  background-color: var(--body-light-color);
}

.main-content h2,
.input-wrapper {
  display: flex;
  justify-content: center;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 15rem));
  padding: 50px 0px;
  justify-items: center;
  justify-content: center;
  gap: 25px;
}

.book {
  background-color: white;
  width: 12rem;
  height: 15rem;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 5px 5px lightgray;
  perspective: 1000px;
  background-image: url(images/annie-spratt-h-LcVG8W1XY-unsplash.jpg);
  background-size: cover;
  color: #86C5D8;
}

.book-flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform: 1s;
  transform-style: preserve-3d;
}

.book:hover .book-flip-inner {
  transform: rotateY(180deg);
}

.book-flip-front,
.book-flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.book-flip-back {
  transform: rotateY(180deg);
}

svg {
  width: 2rem;
  align-self: flex-end;
  fill: white;
}

h2.title {
  padding: 10px;
  text-align: center;
}

h3.author {
  text-align: center;
}
footer { 
  grid-area: footer;
  background-color: var(--header-footer-light-color);
  text-align: center;
}

/*** Utility Classes ***/
/***********************/
